<%- include('header') %>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>
<div class="box">
  <% for( let index=0; index < newListItem.length; index++ ) { %>
  <div class="item">
    <input type="checkbox" />
    <p><%= newListItem[index] %></p>
  </div>
  <% } %>
  <form action="/" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit" name="list" value="<%=listTitle%>">➕</button>
  </form>
</div>

<%- include('footer') %>
